<!--<div class="row">
			<div class="col-lg-3 col-sm-6 tac" >
				<div class="col-lg-12 tac entity">
					<img class="thumbnails" src="https://static.hub.91mobiles.com/wp-content/uploads/2018/12/Samsung-Galaxy-S10_5K_1.jpg"/>
					<p><strong>Samsung Note</strong></p>
					<a href="#" class="btn btn-primary" role="button" style="margin-bottom:9px">More Info</a>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 tac" >
				<div class="col-lg-12 tac entity">
					<img class="thumbnails" src="https://static.hub.91mobiles.com/wp-content/uploads/2018/12/Samsung-Galaxy-S10_5K_1.jpg"/>
					<p><strong>Samsung Note</strong></p>
					<a href="#" class="btn btn-primary" role="button" style="margin-bottom:9px">More Info</a>
				</div>
			</div>			
			<div class="col-lg-3 col-sm-6 tac" >
				<div class="col-lg-12 tac entity">
					<img class="thumbnails" src="https://static.hub.91mobiles.com/wp-content/uploads/2018/12/Samsung-Galaxy-S10_5K_1.jpg"/>
					<p><strong>Samsung Note</strong></p>
					<a href="#" class="btn btn-primary" role="button" style="margin-bottom:9px">More Info</a>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 tac" >
				<div class="col-lg-12 tac entity">
					<img class="thumbnails" src="https://static.hub.91mobiles.com/wp-content/uploads/2018/12/Samsung-Galaxy-S10_5K_1.jpg"/>
					<p><strong>Samsung Note</strong></p>
					<a href="#" class="btn btn-primary" role="button" style="margin-bottom:9px">More Info</a>
				</div>
			</div>
</div>-->