<% include header.ejs %>

	<link rel="stylesheet" href="../css/index.css"/>
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">MoboTech</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/MoboTech/new"> Add Tech </a></li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<div class="jumbotron">
			<h1 class="tac">Mobile Techs</h1> 
			<p class="tac">Popular mobile technologies available in the market.</p> 
		</div>
		<div class="row">
			<% mob.forEach(function(mobile){ %>
				<div class="col-lg-3 col-sm-6 tac" style="margin-top:10px">
					<div class="col-lg-12 tac entity">
						<img class="thumbnails" src="<%= mobile.image %>"/>
						<p><strong><%=  mobile.name %></strong></p>
						<a href="#" class="btn btn-primary" role="button" style="margin-bottom:9px">More Info</a>
					</div>
				</div>
			<% }) %>
		</div>
	</div>
	
	
<% include footer.ejs %>